<html>
    <body>
        <center>
            <h1> Welcome to the Machine Learning Dashboard </h1>
            <hr><br><br><br>
            <form action="/predict" method="post" >
                Sepal Length:  <input type="text" name="SL"><br>
                Sepal Width:  <input type="text" name="SW"><br>
                Petal Length:  <input type="text" name="PL"><br>
                Petal Width:  <input type="text" name="PW"><br>
                <input type="submit">
            </form>
            <hr><p> Designed by Kaizen</p><hr>
        </center>
    </body>
</html>

            